.accordion {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  transition: all 0.2s ease;
}

.accordionItem {
  margin-bottom: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 100%;

}

.accordionItemHeading {
  font-weight: bold;
  font-size: 1.5rem;
  min-width: 100%;
}

.accordionItemButton {
  padding: 1.5rem 0;
  min-width: 100%;
  border: none;
  box-shadow: transparent;
}

.accordionItemPanel {
  padding: 0 1.5rem 1.5rem 1.5rem;
  line-height: 1.5;
  font-size: 1.2rem;
  -webkit-animation: fadein 0.5s ease initial; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s ease; /* Firefox < 16 */
        -ms-animation: fadein 0.5s ease; /* Internet Explorer */
         -o-animation: fadein 0.5s ease; /* Opera < 12.1 */
            animation: fadein 0.5s ease;
}

.accordionItem:hover,
.accordionItem:focus,
.accordionItem:active {
  color: #0070f3;
  border-color: #0070f3;
}

@keyframes fadein {
  from {transform:translateY(-20px); opacity: 0;}
  to {transform:translateY(0); opacity: 1;}
}
@keyframes fadein {
  from {transform:translateY(-20px); opacity: 0;}
  to {transform:translateY(0); opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {transform:translateY(-20px); opacity: 0;}
  to {transform:translateY(0); opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {transform:translateY(-20px); opacity: 0;}
  to {transform:translateY(0); opacity: 1;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {transform:translateY(-20px); opacity: 0;}
  to {transform:translateY(0); opacity: 1;}
}
