.accordion {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.25s ease;
}

.accordionItem {
  margin-bottom: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: all 0.25s ease;
  min-width: 100%;

}

.accordionItemHeading {
  font-weight: 600;
  font-size: 1.5rem;
  min-width: 100%;
  
}

.accordionItemButton {
  min-width: 100%;
  border: none;
  box-shadow: transparent;
  cursor: pointer;
  padding: 1rem;
  border: 3px solid #fff;
  background-color: rgba(255, 255, 255, 0.882);
  transition: all 0.25s ease;
}

.accordionItemButton > svg {
  float:right;
}


.accordionItemPanel {
  padding: 1.5rem;
  line-height: 1.5;
  font-size: 1.2rem;
  background-image: url("../public/arches.png");
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: fadein 0.5s ease initial; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s ease; /* Firefox < 16 */
      -ms-animation: fadein 0.5s ease; /* Internet Explorer */
       -o-animation: fadein 0.5s ease; /* Opera < 12.1 */
          animation: fadein 0.5s ease;
}


.accordionItemButton:hover,
.accordionItemButton:focus,
.accordionItemButton:active{
  border: 3px solid #000;
}

@keyframes fadein {
  from {transform:translateY(-20px); opacity: 0;}
  to {transform:translateY(0); opacity: 1;}
}
@keyframes fadein {
  from {transform:translateY(-20px); opacity: 0;}
  to {transform:translateY(0); opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {transform:translateY(-20px); opacity: 0;}
  to {transform:translateY(0); opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {transform:translateY(-20px); opacity: 0;}
  to {transform:translateY(0); opacity: 1;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {transform:translateY(-20px); opacity: 0;}
  to {transform:translateY(0); opacity: 1;}
}

/* Mobile Styles */
@media (max-width: 768px){
  .accordion{
    width: 100%;
    padding: 0;
  }
  .accordionItemHeading{
    font-size: 1.2rem;
  }
  .accordionItemButton{
    padding: 0.8rem;
  }
}
