/* CSS for Accordion */
.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.accordionItem {
  min-width: 100%;
  text-align: left;
  text-decoration: none;
  color: inherit;
}

.accordionItemHeading {
  font-size: 1.5rem;
  font-weight: 600;
}

.accordionItemButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  border: none;
  border-bottom: 2px solid var(--border-accordion-button);
  background-color: var(--color-accordion-button);
  box-shadow: transparent;
  cursor: pointer;
}
.accordionItemButton p {
  flex: 1;
}

.accordionItemButton > svg {
  min-width: 15px;
  min-height: 15px;
  transition: 0.15s ease;
}

.open .accordionItemButton > svg {
  transform: rotate(45deg);
  transition: 0.15s ease;
}

.accordionItemPanel {
  overflow-y: hidden;
  max-height: 0;
  padding: 0 1.5rem;
  background-color: var(--color-accordion-panel);
  background-image: var(--bg-accordion-panel);
  line-height: 1.5;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.open .accordionItemPanel {
  max-height: 100rem;
  padding: 1.5rem;
  transition: 0.4s ease;
}

.answer {
  opacity: 0;
  transition: 0.2s ease;
}

.open .answer {
  opacity: 1;
  transition: 0.15s ease;
}

/* Mobile Styles */
@media (max-width: 768px){
  .accordion{
    width: 100%;
    padding: 0;
  }
  .accordionItemHeading{
    font-size: 1rem;
  }
  .accordionItemButton{
    padding: 0.1rem 0;
  }
  .accordionItemButton p{
    margin-right: 2px;
    padding: 0 10px 0 0;
  }
  .open .accordionItemPanel{
    padding: 0 1rem;
    font-size: 16px;
  }
}
