.accordion {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordionItem {
  margin-bottom: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  min-width: 100%;

}

.accordionItemHeading {
  font-weight: 600;
  font-size: 1.5rem;
  min-width: 100%;
  
}

.accordionItemButton {
  min-width: 100%;
  border: none;
  box-shadow: transparent;
  cursor: pointer;
  padding: 1rem;
  border: 3px solid #fff;
  background-color: rgba(255, 255, 255, 0.882);
}

.accordionItemButton > svg {
  float: right;
  transition: 0.3s linear;
}

.open .accordionItemButton > svg {
  transform: rotate(180deg);
  transition: 0.25s linear;
}

.accordionItemPanel {
  max-height: 0;
  overflow-y: hidden;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  background-image: url("../public/arches.png");
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.3s ease;
}

.open .accordionItemPanel {
  max-height: 100rem;
  padding: 1.5rem;
  line-height: 1.5;
  font-size: 1.2rem;
  background-image: url("../public/arches.png");
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.4s ease;
}

.accordionItemButton:hover,
.accordionItemButton:focus,
.accordionItemButton:active{
  border: 3px solid #000;
}

.answer {
  opacity: 0;
  transition: 0.2s linear;
}

.open .answer {
  opacity: 1;
  transition: 0.15s linear;
}

/* Mobile Styles */
@media (max-width: 768px){
  .accordion{
    width: 100%;
    padding: 0;
  }
  .accordionItemHeading{
    font-size: 1.2rem;
  }
  .accordionItemButton{
    padding: 0.8rem;
  }
}
