/* Container for entire page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
/* Container for each section */
.main {
  min-height: 50vh;
  width: var(--contentWidth);
  margin: auto;
  margin-bottom:5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tall{
  min-height: 100vh;
}

.topAlign {
  justify-content: flex-start;
}

/* Footer CSS */
.footer {
  width: 100%;
  padding: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #00000081;
  transition: 0.8s ease;
  box-shadow: 0 50vh 0 50vh #00000081;
  cursor: default;
}

.footer:hover {
  background-color: #212121;
  background-position: bottom;
  box-shadow: 0 50vh 0 50vh #212121;
}
/*
.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.footer div {
  display: inline-flex;
}

/* Link to Team Page CSS */

.teamlink a:hover {
  color: #ff6060;
  cursor: pointer;
}
.teamlink a{
  text-align: center;
}
/* Social Media CSS */
.contact a {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 30px;
}

.contact a:hover {
  color: #ff6060;
  cursor: pointer;
}

/* Title styles */
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 40px;
  color: #1b1b1b;
}

.title,
.description {
  text-align: left;
  margin-bottom:5%;
  text-shadow: 0px 0px 10px #ffffff, 0px 0px 10px #ffffff, 0px 0px 10px #ffffff, 0px 0px 10px #ffffff;
}
/* Description Styles */
.description {
  font-size: 1.5rem;
  color: #1b1b1b;
  margin-top: 5%;
  margin-bottom: 5%;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
/* Cards that are not part of information section */
.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.card {
  margin: 1rem;
  padding: 14px;
  width: 400px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  border: 3px solid #fff;
  transition: all 0.15s ease;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.card:hover,
.card:focus,
.card:active {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.card h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.logo {
  height: 1em;
}

/* Card Button Modifer */
.clickable {
  cursor: pointer;
}

.icon {
  transform: translate(4px, 2px);
}

/* Mobile stuff */
@media (max-width: 768px) {
  .main {
    margin-top:15%;
    margin-bottom:5%;
  }
  .title {
    font-size: 2.8rem;
  }
  .description {
    font-size: 1.1rem;
  }
  .introduction {
    flex-direction: column;
    align-items: unset;
  }
  .grid {
    flex-direction: column;
  }
  .card,
  .action {
    width: 100%;
    padding: 0.25rem;
    margin: 0 0rem 0.5rem 0;
  }
  .card > h3,
  .clickable > h3 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 1rem;
  }
  .infogrid {
    margin-left: 0;
  }
  .footer {
    padding: 40px 30px;
    text-align: center;
  }
}
