/*CSS for Faq section*/
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10rem auto 0 auto;
  width: var(--contentWidth);
  }

  @media (max-width: 625px){
    .faq{
      width: 100%;
      margin-top: 22%;
      padding: 0;
    }
  }


