@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
#doc-title .name {
  display: none!important;
}

.switcherOuter{
display:none!important;
height:0px!important;
}
/* Place Vars Here */
:root{
  --contentWidth: min(80vw, 1280px);
}

* {
  box-sizing: border-box;
}

html {
  /* background: #e1fbfc; */
  /* background: -webkit-linear-gradient(top right, #e1fbfc, #ccf9c6);
  background: -moz-linear-gradient(top right, #e1fbfc, #ccf9c6);
  background: linear-gradient(
    to bottom left,
    #e1fbfc,
    #ccf9c6
  ); background-color:#facb7552!important; */
}

html,
body {
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  color: var(--color-text-primary);
}

body {
  background-color: transparent !important;
}

h1 {
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

/* From package what-input to remove default focus border because its ugly */
[data-whatinput="mouse"] :focus,
[data-whatinput="touch"] :focus {
  outline: none;
}

p,
h1 {
  color: var(--color-text-primary);
}

.MLH {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 20px;
  display: block;
  min-width: 49px;
  width: 10%;
  max-width: 100px;
}

/*react-scroll classes applied to navbar*/
.active {
  border-bottom: 3px solid var(--button-signup-primary) !important;
}

.link {
  margin-right: 2rem;
  padding: 0.5rem 0;
  border-bottom: 3px solid transparent;
  color: var(--button-signup-secondary);
  transition: all 0.2s ease;
}

.link:hover,
.link:focus,
.link:active {
  border-bottom: 3px solid var(--button-signup-primary);
  color: var(--button-signup-primary);
}

.signup {
  display: block;
  padding: 0.75rem 1rem;
  border: 2px solid var(--button-signup-secondary);
  border-radius: 100px;
  background-color: var(--button-signup-primary);
  color: var(--button-signup-text);
  transition: all 0.15s ease;
  /* Uncomment when live site is online */
  /* margin-left: 25px; */
}
.signup:hover,
.signup:focus,
.signup:active {
  background-color: var(--button-signup-hover);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

/* cursor trails transparent canvas */
canvas {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
}
/* Jump the mlh logo around depending on window size
   No matter how you size the window it won't touch
   an element
*/
@media (max-width: 1168px) {
  .signup {
    padding: 0.75rem 1rem;
  }
  .MLH {
    position: absolute;
    left: 300px;
  }
}
@media (max-width: 1100px) {
  .MLH{
    left: 200px;
  }
}
@media (max-width: 500px) {
  .MLH{
    left: 190px;
  }
}
@media (max-width: 400px) {
  .MLH{
    left: 145px;
  }
}