html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* From package what-input to remove default focus border because its ugly */
[data-whatinput="mouse"] :focus,
[data-whatinput="touch"] :focus {
  outline: none;
}

/*react-scroll classes applied to navbar*/
.active {
  color:#fff;
  background-image: url("../public/brush-stroke-banner-6-onlygfx-dot-com.png");
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: center;
}

.link {
  margin-right: 1rem;
  padding: 1rem 2rem;
}
.link:hover,
.link:focus,
.link:active {
  color:#fff;
  background-image: url("../public/brush-stroke-banner-6-onlygfx-dot-com.png");
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: center;
}
