/* CSS for Hero section */
.heroimage{
  overflow-x: hidden;
  width: 100vw;
  background-image: var(--bg-hero);
  background-size: contain;
  background-position: left -200px bottom -50px;
  background-repeat: no-repeat;
  /* Overlay white onto the image */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80vw;
  min-height: 100vh;
  margin: auto;
  text-align: right;
}
.content h1, .content p {
  text-shadow: 0px 0px 20px var(--shadow-text-primary), 0px 0px 20px var(--shadow-text-primary), 0px 0px 20px var(--shadow-text-primary);
}

.secondary{ 
  border: 3px solid var(--button-learnmore-secondary); 
  background-color: var(--button-learnmore-primary);
}

.title {
  margin: 0;
  text-align: center;
  font-size: 81px;
  font-weight: 900;
  color: var(--color-text-hero);
}

.caption{
  font-size: 40px;
  font-weight: bold;
  color: var(--color-text-hero);
}

.action {
  border: 3px solid var(--button-signup-secondary) !important;
  background-color: var(--button-signup-primary) !important;
  color: var(--button-signup-text);
}

.action:hover,
.action:focus,
.action:active {
  background-color: var(--button-signup-hover) !important;
}
.buttonGrid{
  justify-content: flex-end;
  width: var(--contentWidth);
  margin-right: -1rem;
}

/* Mobile Styles */
@media (max-width: 868px) {
  .heroimage{
    background-size: contain;
    background-position: center bottom;
  }
  .content{
    align-items: center;
    width: var(--contentWidth);
    height: 80vh;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  .title{
    line-height: 1;
    font-size: 50px;  
  }
  .caption{
    font-size: 30px;
  }
  .buttonGrid{
    margin-right: 0;
  }
}
/* Adjust tree on vertical monitors */
@media (max-aspect-ratio: 1/1) and (min-aspect-ratio: 1/16) and (min-width: 769px) {
  .heroimage{
    background-position: left calc(130% - 20vw) center;
  }
}