/*CSS for Hero section*/
.content {
  align-items: center;
  background-image: url(../public/Cherry\ Blossom\ Asset.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left -500px center;
}

.title,.caption{
  color: #fff;
}

.title {
  font-size: 6rem;
  margin: 0;
  text-transform: uppercase;
}

.caption {
  font-size: 3rem;
}

.action {
  border: 3px solid #1b1b1b;
  transition: all 0.15s ease;
  background-color: #1b1b1b;
  color: #fff;
}

.action:hover,
.action:focus,
.action:active {
  background-color: #ff6060;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.icon{
  transform: translateX(4px) translateY(4px);
}
@media (max-width: 1068px) {
  .title{
    text-align: center;
    font-size: 4rem;
  }
  .caption{
    font-size: 2rem;
  }
}
