/*CSS for Hero section*/
.content {
  align-items: center;
  background-image: url(../public/Cherry\ Blossom\ Asset.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left -500px center;
}

.main {
  min-height: 100vh;
  min-width: 100vw;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title,.caption{
  color: white;
  text-shadow: 0px 0px 40px white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: black;
}
.caption{
  -webkit-text-stroke-width: 1.4px;
  font-weight: bold;
}

.title {
  -webkit-text-stroke-width: 2px;
  font-size: 6rem;
  margin: 0;
  text-transform: lowercase;
}

.caption {
  font-size: 3rem;
}

.action {
  border: 3px solid #1b1b1b !important;
  background-color: #1b1b1b !important;
  color: #fff;
}

.action:hover,
.action:focus,
.action:active {
  background-color: #ff6060 !important;
}

@media (max-width: 1068px) {
  .title, .caption{
    text-shadow: 1px 1px 10px white;
  }
  .main{
    padding: 0 10%;
    margin: 0;
  }
  .title{
    text-align: left;
    font-size: 3rem;  
  }
  .caption{
    font-size: 1.8rem;
    -webkit-text-stroke-width: 1.2px;
  }
}
