/* Introduction CSS */
.introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width:80vw;
  margin: 10rem auto 0 auto;
  overflow-x: hidden;
}
/* Intro Content Column */
.text {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
}
/* Intro statistics column */
.stats {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.infocard {
  padding: 1rem 5rem;
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
  background-image: url("../public/brushstrokebanneraltered.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transition: all 0.2s ease;
}
@media (max-width: 1280px) {
  .infocard {
    font-size: 1.5rem;
  }
  .introduction {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .stats {
    margin-left: 0;
    margin-top:10%;
    margin-bottom:10%;
  }
}
