/* Introduction CSS */
.introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  /* Intro Content Column */
  .introductionCol {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
  }
  /* Intro statistics column */
  .infogrid{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }
  
  .infocard{
    padding: 1.5rem;
  }

  @media (max-width: 1068px) {
    .introduction{
      flex-direction: column;
      align-items: unset;
    }
    .grid {
      min-width: 100%;
      flex-direction: column;
    }
    .infogrid
    {
      margin-left: 0;
    }
  }