.timer{
    font-size: 63px;
}

.judgeWrapper{
    display: flex;
}
.judge{
    display:flex;
    margin: 0 10px;
}
.judge caption{
    margin-left: 10px;
}

@media (max-width: 768px) {
    .timer{
        font-size: 32px;
    }
}