.navlistcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.navlistlink {
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

