.navlistcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin: 0;
  padding: 0;
}
.navlistlink {
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
.links{
  display: flex;
  align-items: center;
}