.navlistcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 30px;
  margin: auto;
  max-width: 80vw;
}
.navlistlink {
  list-style: none;
  cursor: pointer;
  font-weight: 750;
}
.links {
  display: flex;
  align-items: center;
}
.logos {
  width: 80px;
  height: 80px;
}

@media (max-width: 1068px) {
  .navlistcontainer{
    max-width: 100%;
    padding: 0.5rem 30px;
  }
  .logos {
    height: 50px;
    width: auto;
    margin: auto;
    transform: translateY(9%);
  }
}
