/*CSS for Sponsors*/
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.logoflex{
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  max-width: 1200px;
  margin: auto;
  margin-top: 10%;
}
.color1 {
  background-color: #ffd17c;
  border: 3px solid #ce9a3b;
}
.acm, .linode, .xyz, .wolfram, .ieee, .echoAR, .digitalocean  {
  width: min(400px, 80vw);
  height: auto;
}
.wolfram, .usaf, .balsamiq, .sketch {
  width: min(320px, 80vw);
}
/* Tablet or Compact Styles */
@media (max-width: 1168){
  .wrapper{
    width: 100%;
    padding: 0;
  }
}
