/*CSS for Sponsors*/
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.logoflex{
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  max-width: 1200px;
  margin: auto;
}

.acm, .linode, .xyz, .wolfram, .ieee, .echoAR, .digitalocean, .launchpad  {
  width: min(400px, 80vw);
  height: auto;
}
.wolfram, .balsamiq, .sketch {
  width: min(320px, 80vw);
}

.usaf{
  width: min(500px, 80vw);
}
.title{
  margin: 0;
  line-height: 0.75;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 40px;
  color: #1b1b1b;
}
.description{
  font-size: 1.5rem;
  color: #1b1b1b;
}
.action{
  background-color: #ffd5f5;
  border: 3px solid #ffbdfa;
  margin-bottom: -3rem;
}
/* Tablet or Compact Styles */
@media (max-width: 1168){
  .wrapper{
    width: 100%;
    padding: 0;
  }
}
