.tracks {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 80rem;
}

.trackwrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80rem;
}

.trackselection {
  margin: 0;
  padding: 0;
}

.link {
  list-style: none;
  margin: 1rem;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: border-bottom ease 0.5s;
}
.link:hover,
.link:active {
  border-bottom: 3px solid #000;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  flex: 30%;
}
.image {
  flex: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.image img {
  height: 500px;
  width: 500px;
}

@media (max-width: 1280px) {
  .tracks {
    width: 100%;
    padding: 0;
    align-items: flex-start;
  }
  .trackwrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }
  .trackcontent {
    width: 100%;
    padding: 0;
  }
  .track {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
  }
  .image img{
      height: 300px;
      width: 300px;
  }
}
