.tracks{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.trackwrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.trackselection {
margin: 2rem;
margin-right: 0;
flex: 33%;
}

.link {
  list-style: none;
  margin: 1rem;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.link:hover, .link:active{
 border-bottom: 3px solid #000;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 3rem;
  margin-left: 0;
}

.text{
    flex: 20%;
}
.image{
    flex: 50%;
    width:100%;
}
.image img{
    display:block;
    width:75%;
    margin-left: auto;
}

@media (max-width: 1280px) {
    .tracks{
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }
    .track{
        flex-direction: column-reverse;
        margin: 0;
        flex: 1;
    }
    .trackwrapper{
        flex-direction: column-reverse;
    }
    .trackselection{
        margin: 0;
        padding:0;
        align-self: flex-start;
        flex: 1;
    }
    .link{
        margin: 1rem 0;
    }
    .footer{
        padding: 0 30px;
    }
    .image img{
        display:block;
        width:75%;
        margin: auto;
    }
}