.wrapper{
  margin: auto;
  width: 80rem;
  overflow-x: hidden;
}

@media (max-width: 1280px){
  .wrapper{
    width: 100%;
    padding: 0;
  }
  .pad {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}